body{
    font-family: 'Poppins', sans-serif;
}
.diffrent{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
    height: 50px;
}
h2{
    font-size: 40px;
    height: 5px;
}
p{
    color: dimgray;
    height: 100px;
}
.button-design{
    background-image: linear-gradient(180deg, crimson , red);
    text-decoration: none;
    color: white;
    padding: 8px 18px;
    border-radius: 5px;

}
.font-design{
    color: rgb(255, 0, 51);
    font-weight: 700px;
    
}
.half-width{
    width: 38%;
    float: left;
    margin-left: 8%;
    /* padding-left: 2%; */
    margin-top: 5%;
}
.half-width img{
    width: 90%;
    
}
.closer{
    padding-block: 10%;
    padding-left: 4%;
    margin-top: 1%;
}